<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>LUX</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

  <section class="hero is-fullheight is-light">
    <div class="hero-head">
      <nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
          </div>
          <div class="navbar-menu" id="navbarTopMain">
            <div class="navbar-end">
              <div class="navbar-item">
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body  p-b-30 ">
      <div class="container">
        <h2 class="subtitle">
          <span class="has-text-centered is-block">
            Search hundreds of convertibles, coupes and SUVs for rent.
          </span>
        </h2>
        <h1 class="title">
          <span class="is-size-2 has-text-centered is-block">What are you waiting for?</span>
        </h1>
        <div class="columns is-centered">
          <div class="column is-7">
          </div>
        </div>
  </section>

  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-8">
            <div class="sub-section">
              <h3 class="title is-size-4">Car Gallery</h3>
              <h4 class="subtitle is-size-6">We've got 'em all.</h4>

              {{#each cars}}
              <div class="column">
                <div class="card rb-card">
                  <div class="card-image">
                    <figure class="columns is-9by6">
                      <img class="image" src={{image}} />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="title is-4">{{year}} {{make}}</p>
                        <p class="subtitle is-6">{{model}} {{type}}</p>
                      </div>
                    </div>
                  </div>
                  <footer class="card-footer">
                    <a class="card-footer-item">Price per day: ${{price}}</a>
                    <a href="/reservation/{{id}}" class="card-footer-item">Book Now</a>
                  </footer>
                </div>
              </div>
              
              {{/each}}
  </section>


  <section class="hero is-medium is-light">
    <div class="hero-body p-b-30">
      <div class="container">
        <div class="has-text-centered">
          <h1 class="title">Welcome to the LUX family.</h1>
        </div>
      </div>
    </div>
  </section>


</body>

</html>