<!-- Loop over each object in the projects array -->
{{!-- {{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Lux </title>
</head>

<body>
  <div class="container">
    <!-- Content here -->
      <form class="d-flex">
        <input class="input" type="search" placeholder="Type a Make" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

<div class="container">
</div>

<div class="container">
  <button class="button">Price Per Day</button>
  <button class="button">Make</button>
  <button class="button">Model</button>
</div>




{{!-- MB: ADDED THIS JUST TO PASS DATA; NO STYLING CONSIDERED FOR THIS --}}
{{!-- <div>
  <h1>Luxury Cars: All cars</h1>
  {{#each cars}}
    <a href="/car/{{id}}">
      <p>{{year}}</p>
<p>{{make}}</p>
<p>{{model}}</p>
<p>{{price}}</p>
    </a>
    <p>{{description}}</p>
  {{/each}}
</div> --}}



{{#each cars}}
<div class="box">
  {{!-- Dyamically render the cars--}}
  {{!-- <div class="columns"> --}}
    {{!-- <div class="column"> --}}
            <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://versions.bulma.io/0.7.0/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            {{!-- <figure class="image is-48x48">
              <img src="https://versions.bulma.io/0.7.0/images/placeholders/96x96.png" alt="Placeholder image">
            </figure> --}}
          </div>
          <div class="media-content">
            <p class="title is-4">{{year}} {{make}}</p>
            <p class="subtitle is-6">{{model}} {{type}}</p>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">Price per day: ${{price}}</a>
        <a href="/reservation" class="card-footer-item">Book Now</a>
      </footer>
    </div>
        </div>
   {{/each}}

      
    {{!-- <div class="column">
          <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://versions.bulma.io/0.7.0/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://versions.bulma.io/0.7.0/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="content" style="width:48%">
        Coming soon
        <a href="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2021-maserati-ghibli-trofeo-104-1613509378.jpg?crop=0.814xw:1.00xh;0.0946xw,0&amp;resize=640:*"
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2021-maserati-ghibli-trofeo-104-1613509378.jpg?crop=0.814xw:1.00xh;0.0946xw,0&amp;resize=640:*">Car
          Pic needs to render</a>. <a href="#"></a> <a href="#"></a>
        <img width='100%'
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2021-maserati-ghibli-trofeo-104-1613509378.jpg?crop=0.814xw:1.00xh;0.0946xw,0&amp;resize=640:*">
        <br>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Make</a>
          <a href="#" class="card-footer-item">Model</a>
          <a href="#" class="card-footer-item">Price</a>
          <a href="#" class="card-footer-item">Book Now</a>
        </footer>
        {{!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> --}}
      </div>
    </div>
   
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">{{make}}</a>
    <a class="card-footer-item">{{model}}</a>
    <a class="card-footer-item">Price per Day: {{Price}}</a>
    <a href="#" class="card-footer-item">Book Now</a>
  </footer>
</div>
    </div> --}}

  
   
  {{!-- </div> --}}
  {{!-- Ending columns --}}


</div>
{{!-- Ending  box --}}


{{!-- <div class="row">
  <div class="col">
    
  </div>
</div>
   </ifame>
  </div>
  <div class="col">
  
      </div>
    </div>
    </ifame>
    
  </div>
  </div> --}}






  <!-- Include Handlebars from a CDN -->
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script>
    // compile the template
    var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
    // execute the compiled template and print the output to the console
    console.log(template({ doesWhat: "rocks!" }));
  </script>
</body>

</html>
